* {
  margin: 0;
  padding: 0;
}

.calculator {
  background-color: black;
  width: 414px;
  height: 856px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.screen {
  width: 414px;
  height: 350px;
  box-sizing: border-box;
}

input {
  bottom: 0;
  width: 414px;
  height: 350px;
  font-size: 44px;
  background-color: rgb(24, 23, 23);
  color: white;
  text-align: right;
  vertical-align: bottom;
  border: none;
}

h3 {
  font-size: 50px;
  position: absolute;
  bottom: -1px;
  right: 40px;
}

.keys {
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 414px;
  box-sizing: border-box;
  justify-content: space-between;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

button {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 40px;
  font-size: 30px;
}

.ac,
.del,
.dot-btn {
  background-color: rgb(196, 196, 196);
  color: black;
}

.ac:hover,
.del:hover,
.dot-btn:hover {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.25s ease;
}

.ac:active,
.del:active,
.dot-btn:active {
  background-color: rgb(196, 196, 196);
  transition: background-color 0.25s ease;
}

.divide-sign,
.multiplication-sign,
.subtraction-sign,
.equals-sign,
.addition-sign {
  background-color: orange;
  color: white;
}

.divide-sign:active,
.multiplication-sign:active,
.subtraction-sign:active,
.equals-sign:active,
.addition-sign:active {
  background-color: white;
  color: orange;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.single-zero,
.double-zero {
  background-color: rgb(40, 39, 39);
  color: white;
}

.one:active,
.two:active,
.three:active,
.four:active,
.five:active,
.six:active,
.seven:active,
.eight:active,
.nine:active,
.single-zero:active,
.double-zero:active {
  background-color: rgb(80, 80, 80);
}

.double-zero {
  width: 172px;
}
